<!DOCTYPE html>
<html>
  <head>
    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    
    <title>Helper Methods Part 3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shared/assets"%>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <!-- Make it responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

  <%= render "shared/nav"%>

    
    <div class="container mt-3">

    <%= render "shared/flash_messages"%>

      <%= yield %>
    </div>
  </body>
</html>
